* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header{
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: inline;

}

.header >.top-part>nav>a{

    text-decoration: none;
    padding-right: 10px;
    color: black;
}

.buttons>button{
    padding: 10px;
    margin-right: 10px;
    color: blue;
    background-color: aqua;
    border: none;

}
.buttons>button:hover{
    padding: 15px;
    margin-right: 20px;
    color: brown;
    border-radius: 25%;
    animation-name: gvhvh;
}

@keyframes gvhvh { 
    
}